*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media (max-width: 37.5em) {
    html {
      font-size: 60%; } }
  @media (max-width: 25em) {
    html {
      font-size: 55%; } }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: #ffffff;
  position: relative;
  height: 0; }

nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 20rem;
  color: #ffffff; }
  @media (max-width: 37.5em) {
    nav {
      position: relative;
      width: 100%;
      overflow-x: hidden;
      height: 35rem; } }

main {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 20rem;
  top: 0;
  color: #000000;
  background-color: #ffffff;
  width: calc(100% - 20rem); }
  @media (max-width: 37.5em) {
    main {
      position: absolute;
      left: 0;
      width: 100%;
      top: 35rem; } }

section {
  padding: 1rem 2rem;
  margin: 1rem 0; }
  section p {
    text-align: justify; }
  section > p:not(:last-child) {
    margin-bottom: 1rem; }

.nav-panel {
  position: absolute;
  height: 100%;
  width: 20rem;
  top: 0;
  padding-top: 1.5rem;
  line-height: 1.3; }
  @media (max-width: 37.5em) {
    .nav-panel {
      width: 100%;
      overflow-x: hidden; } }
  .nav-panel--software {
    background-color: #2d4d7d; }
    .nav-panel--software .nav-panel__contact-links > a,
    .nav-panel--software .nav-panel__headings > a {
      color: #d9e7fc;
      text-decoration: none; }
      .nav-panel--software .nav-panel__contact-links > a:hover,
      .nav-panel--software .nav-panel__headings > a:hover {
        color: #ffffff; }
  .nav-panel--chemistry {
    background-color: #b13c3c; }
    .nav-panel--chemistry .nav-panel__contact-links > a,
    .nav-panel--chemistry .nav-panel__headings > a {
      color: #ffc2c2;
      text-decoration: none; }
      .nav-panel--chemistry .nav-panel__contact-links > a:hover,
      .nav-panel--chemistry .nav-panel__headings > a:hover {
        color: #ffffff; }
  .nav-panel--visible {
    left: 0;
    transition: left 1s ease;
    z-index: 2; }
  .nav-panel--hidden {
    left: calc(-1 * 20rem);
    transition: left 1s ease;
    z-index: 0; }
    @media (max-width: 37.5em) {
      .nav-panel--hidden.nav-panel--chemistry {
        left: 100%; }
      .nav-panel--hidden.nav-panel--software {
        left: -100%; } }
  .nav-panel__photo {
    display: block;
    height: 16rem;
    width: 16rem;
    margin: 0 auto; }
    @media (max-width: 37.5em) {
      .nav-panel__photo {
        height: 15rem;
        width: 15rem; } }
    .nav-panel__photo image {
      height: 16rem;
      width: 16rem; }
      @media (max-width: 37.5em) {
        .nav-panel__photo image {
          height: 15rem;
          width: 15rem; } }
  .nav-panel__name > h1 {
    font-size: 2.8rem;
    font-weight: 700;
    margin-top: 1rem;
    text-align: center; }
  .nav-panel__occupation {
    text-align: center; }
  .nav-panel__contact-links {
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem; }
    .nav-panel__contact-links > a {
      display: inline-block;
      margin: 0 0.6rem; }
  .nav-panel__headings {
    text-align: left;
    font-size: 1.8rem;
    font-weight: 700;
    margin: 3rem;
    text-transform: uppercase; }
    .nav-panel__headings > a {
      display: block;
      margin: 0.5rem 0; }
    @media (max-width: 37.5em) {
      .nav-panel__headings {
        display: none; } }

.nav-chooser {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 20rem;
  font-size: 1.8rem;
  text-align: center;
  z-index: 3; }
  @media (max-width: 37.5em) {
    .nav-chooser {
      position: absolute;
      display: flex;
      bottom: 0;
      width: 100%; } }
  .nav-chooser--software {
    background-color: #2d4d7d; }
  .nav-chooser--chemistry {
    background-color: #b13c3c; }
  .nav-chooser--active {
    cursor: pointer; }
    .nav-chooser--active.nav-chooser--software {
      color: #d9e7fc; }
    .nav-chooser--active.nav-chooser--chemistry {
      color: #ffc2c2; }
    .nav-chooser--active:hover {
      color: #ffffff; }
  .nav-chooser__content {
    padding: 1rem 0;
    line-height: 1.1; }
    @media (max-width: 37.5em) {
      .nav-chooser__content {
        width: 50%; } }
  .nav-chooser__prefix {
    font-size: 1.2rem; }
  .nav-chooser__linebreak {
    display: none; }
    @media (max-width: 25em) {
      .nav-chooser__linebreak {
        display: inline; } }

.main-panel {
  top: 0px;
  background-color: #ffffff; }
  @media (max-width: 37.5em) {
    .main-panel {
      width: 100%; } }
  .main-panel--visible {
    order: 1; }
  .main-panel--divider {
    order: 2;
    height: 1rem;
    background-color: #000000; }
  .main-panel--hidden {
    order: 3; }
  .main-panel--software {
    background-color: #f4f6fa; }
    .main-panel--software .main-title__divider,
    .main-panel--software .main-title__label {
      background-color: #2d4d7d; }
    .main-panel--software .main-title__bracket--left,
    .main-panel--software .main-title__bracket--right {
      fill: #2d4d7d; }
  .main-panel--chemistry {
    background-color: #fff2f2; }
    .main-panel--chemistry .main-title__divider,
    .main-panel--chemistry .main-title__label {
      background-color: #b13c3c; }
    .main-panel--chemistry .main-title__bracket--left,
    .main-panel--chemistry .main-title__bracket--right {
      fill: #b13c3c; }

.main-title__row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0 -2rem 1.5rem -2rem; }

.main-title__divider {
  display: inline-block;
  flex-grow: 1;
  height: 0.2rem; }

.main-title__label {
  display: inline-block;
  color: #ffffff;
  height: 4rem;
  line-height: 4rem;
  text-transform: uppercase;
  font-weight: 700; }

.main-title__bracket--left, .main-title__bracket--right {
  width: 2rem;
  height: 4rem;
  display: inline-block; }

.skills__skill {
  display: table;
  height: 2.8rem;
  margin: 0.5rem 0; }

.skills__bracket {
  display: table-cell;
  width: 1.4rem;
  height: 2.8rem;
  fill: #dddddd; }

.skills__label {
  display: table-cell;
  margin: 0;
  padding: 0;
  height: 2.8rem;
  vertical-align: middle;
  background: #dddddd;
  font-size: 1.4rem; }

#availability {
  background-color: #d9e7fc; }

#skills__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem; }
  #skills__list::after {
    content: '';
    flex: auto; }

.education__info-box {
  margin: 1rem 0; }

.education__info-header {
  display: flex; }

.education__info-divider {
  height: 0.25rem;
  background-color: #dddddd; }

.education__logo, .education__info {
  height: 10rem;
  padding: 1rem; }

.education__school {
  display: block;
  line-height: 1.6rem;
  font-size: 1.6rem;
  font-weight: 700; }

.education__degree, .education__date {
  display: block;
  line-height: 1.5rem;
  font-size: 1.5rem;
  margin-top: 0.5rem; }

.education__description {
  font-size: 1.4rem;
  padding: 1rem; }
