* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  background-color: #ffffff;
}

nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  overflow-x: hidden;
  color: white;
}

.nav-panel {
  position: absolute;
  height: 100%;
  width: 200px;
  top: 0;
  padding-top: 15px;
}

.nav-panel-software {
  background-color: #2d4d7d;
}

.nav-panel-chemistry {
  background-color: #b13c3c;
}

.nav-panel-visible {
  left: 0;
  transition: left 1s ease;
  z-index: 2;
}

.nav-panel-hidden {
  left: -200px;
  transition: left 1s ease;
}

svg.nav-photo {
  display: block;
  margin: 0 auto;
}

.nav-panel-name {
  font-size: 28px;
  font-weight: 700;
  margin: 10px 0;
  text-align: center;
}

.nav-panel-contact {
  text-align: center;
  font-size: 18px;
}

.nav-panel-contact > a {
  color: white;
  text-decoration: none;
}

.nav-chooser {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 200px;
  font-size: 18px;
  text-align: center;
  z-index: 3;
}

.nav-chooser-content {
  padding: 10px 0;
  line-height: 1.1;
}

.nav-chooser-prefix {
  font-size: 12px;
}

.nav-chooser-active {
  cursor: pointer;
}

.nav-chooser-software {
  background-color: #2d4d7d;
}

.nav-chooser-chemistry {
  background-color: #b13c3c;
}

section.content-1 {
  background-color: #f29999;
}
